@model TheWardrobe.Models.Accessories

@{
    ViewBag.Title = "Delete";
}


<div class="container-fluid" id="tops">
    <div class="jumbotron">
        <h2 class="bold">
            Shiny things
        </h2>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home">TheWardrobe</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Tops", "Index", "Tops")</li>
                    <li>@Html.ActionLink("Bottoms", "Index", "Bottoms")</li>
                    <li>@Html.ActionLink("Shoes", "Index", "Shoes")</li>
                    <li class="active">@Html.ActionLink("Accessories", "Index", "Accessories")</li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container" id="block-tops">
        <div class="row">

            <h2>Are you sure you want to delete this?</h2>
            <div>
                <dl class="dl-horizontal" id="ohforheavensake">
                    <dt>
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>
                    <dd>
                        <a href="@Html.DisplayFor(model => model.Photo)">
                            <img src="@Html.DisplayFor(model => model.Photo)" class="img-thumbnail" />
                        </a>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Nickname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nickname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Type)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Color)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Season)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Season)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Occasion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Occasion)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color" id="ohforheavensake">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
